<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

    <a href="{% url 'wish_list_app:clear' %}" class="btn btn-primary btn-xs pull-right">Logout</a>
    <a href="{% url 'wish_list_app:index' %}" class="btn btn-primary btn-xs pull-right">Home</a>
        
        <h1>Create a new wish list item </h1>

         <form name ="name" action="{% url 'wish_list_app:add_wish' %}" method='POST'>
         {% csrf_token %}

        

         <p><label for="wish">Item/product </label>
         <p><input  type='text' name='wish' value= ''></p>
        
        
          <p><input type="submit" value="Add!"></p>



         </form>

</body>
</html>