<!DOCTYPE html>
<html>
  <head>
   <head>

    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Static Top Navbar Example for Bootstrap</title>


     <link href="{% static 'wish_list_app/wish_list.css' %}" rel="stylesheet">

      <link href="{% static 'wish_list_app/wish_list1.css' %}" rel="stylesheet"> 

  </head>
    
  </head>

<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped custab">
    <thead>


        <h1>Hello {{current_user.name}}</h1>

    	<h3>Your wish list</h3>
<a href="{% url 'wish_list_app:clear' %}" class="btn btn-primary btn-xs pull-right">Logout</a>
<a href="{% url 'wish_list_app:create_wish' %}" class="btn btn-primary btn-xs pull-right">Add Item</a>


        <tr>
            <th>Item</th>
            <th>Added By:</th>
            <th>Date Added</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>

 
    	{% for item in user_items %}
       
       

            <tr>
                <td><a class='btn btn-info btn-xs' href="{% url 'wish_list_app:show_wish' item.id %}"> {{ item.item }}</a></td>
                <td> {{ item.added_by }}</td>
                <td> {{item.created_at }}</td>
           
            <!-- THE USER CREATED THE WISH. THe user can delete it completely from the DB -->
                
                 
                <td class="text-center"><a class='btn btn-info btn-xs' href="{% url 'wish_list_app:delete' item.id %}"> Delete</a> 
                     
              
             
              
                 <!-- These users DID NOT create the wish. They can only remove the wish from their profile-->
               
                <td class="text-center"><a class='btn btn-info btn-xs' href="{% url 'wish_list_app:remove' item.id %}"> Remove from my wishlist  </a>
             



               
           
          
           
          
        {% endfor %}
            
        

	        
            </tr>


       
    </table>


      {% if messages %}
          {% for message in messages %}
           <h4><font color="red">{{ message }}</font> </h4>
          {% endfor %}
        {% endif %}

   <table class="table table-striped custab">
    <thead>

    <h3> Others wish list</h3>
        <tr>
            <th>Item</th>
            <th>Added By:</th>
            <th>Date Added</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>


        {% for item in non_user_items %}





            <tr>
                <td><a class='btn btn-info btn-xs' href="{% url 'wish_list_app:show_wish' item.id %}"> {{ item.item }}</a></td>
                <td> {{ item.added_by }}</td>
                <td> {{item.created_at }}</td>
                <td class="text-center"><a class='btn btn-info btn-xs' href="{% url 'wish_list_app:join_wish' item.id %}"> Add to my wishlist!</a>

                 <!--<td><form action="{% url 'wish_list_app:join_wish' item.id %}"  method='POST'>
                    {% csrf_token %}
                     
                     
                     <input type="submit"  value= "Add to my wishlist!">
  
                  </form></td>
            </tr>-->
            {% endfor %}

                    


       
    </table>
    </div>
</div>