<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

    <a href="{% url 'wish_list_app:clear' %}" class="btn btn-primary btn-xs pull-right">Logout</a>
    <a href="{% url 'wish_list_app:index' %}" class="btn btn-primary btn-xs pull-right">Home</a>
        

        <h1>{{ item.item }}</h1>
       <p>User who have added this product under their wish list:</p>



       {% for user in users_who_wished %}
       <ul>
       	<li>{{ user.name }} </li>

       </ul>
       {% endfor %}
</body>
</html>